# Visual Studio
.vs/
*.user
*.suo
*.cache
*.db
*.db-shm
*.db-wal
*.csproj.user
*.sln.DotSettings.user

# Build results
bin/
obj/
__verify_build/

# ASP.NET Core
appsettings.Development.json
AppLavaluc/appsettings.Development.json

# Logs
*.log

# OS
.DS_Store
Thumbs.db
