@model IEnumerable<AppLavaluc.Models.Categoria>

@{
    ViewData["Title"] = "Categorías";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Lista de Categorías</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Categoria" asp-action="Create" class="btn btn-success">
                <i class="bi bi-plus-circle"></i> Crear nueva categoría
            </a>
        </div>
    </div>

    <br />

    @if (Model != null && Model.Any())
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead class="table-dark">
                <tr>
                    <th>Nombre de la Categoría</th>
                    <th class="text-center">Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.NombreCategoria</td>                     
                        <td class="text-center">
                            <a asp-controller="Categoria" asp-action="Editar" asp-route-id="@item.CategoriaID" class="btn btn-warning btn-sm">
                                <i class="bi bi-pencil-square"></i> Editar
                            </a>

                            <a asp-controller="Categoria" asp-action="Eliminar" asp-route-id="@item.CategoriaID" class="btn btn-danger btn-sm">
                                <i class="bi bi-trash"></i> Eliminar
                            </a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-info text-center" role="alert">
            No hay categorías registradas.
        </div>
    }
</div>
